In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/0322/student_scores_em.csv',
                 index_col='student number')

df.shape

(50, 2)

In [9]:
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [11]:
score = df['english'][:10]
score

student number
1     42
2     69
3     56
4     41
5     57
6     48
7     65
8     49
9     65
10    58
Name: english, dtype: int64

In [12]:
score.mean()

55.0

In [13]:
np.mean(score)

55.0