In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import keras
import time

In [2]:
ratings_df = pd.read_csv('/home/changhyun/workspace/dataset/ml-20m/ratings.csv')
ratings_df

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [3]:
all_train_start = "09/01/1995"
all_train_end = "01/03/2013"

In [4]:
all_train_start_ts = time.mktime(dt.datetime.strptime(all_train_start, "%d/%m/%Y").timetuple())
all_train_end_ts = time.mktime(dt.datetime.strptime(all_train_end, "%d/%m/%Y").timetuple())
all_train_data = ratings_df.drop(['rating'], axis=1)

In [5]:
all_train_data = all_train_data.loc[(all_train_data['timestamp'] >= all_train_start_ts) & (all_train_data['timestamp'] <= all_train_end_ts)]

In [6]:
all_train_data = all_train_data.groupby("userId").filter(lambda x: len(x) > 5 and len(x) < 101)

In [7]:
train_start = "01/01/2008"
train_end = "01/03/2013"
train_start_ts = time.mktime(dt.datetime.strptime(train_start, "%d/%m/%Y").timetuple())
train_end_ts = time.mktime(dt.datetime.strptime(train_end, "%d/%m/%Y").timetuple())
train_data = ratings_df.drop(['rating'], axis=1)

In [8]:
train_data = train_data.loc[(train_data['timestamp'] >= train_start_ts) & (train_data['timestamp'] <= train_end_ts)]
train_data = train_data.groupby("userId").filter(lambda x: len(x) > 5 and len(x) < 101)

In [9]:
dev_start = "01/04/2013"
dev_end = "01/04/2014"
dev_start_ts = time.mktime(dt.datetime.strptime(dev_start, "%d/%m/%Y").timetuple())
dev_end_ts = time.mktime(dt.datetime.strptime(dev_end, "%d/%m/%Y").timetuple())
dev_data = ratings_df.drop(['rating'], axis=1)

In [10]:
dev_data = dev_data.loc[(dev_data['timestamp'] >= dev_start_ts) & (dev_data['timestamp'] <= dev_end_ts)]
dev_data = dev_data.groupby("userId").filter(lambda x: len(x) > 5 and len(x) < 101)

In [11]:
# TEST SET
# Get only ratings between April 2015 to April 2016
test_start = "02/04/2014"
test_end = "01/04/2015"
test_start_ts = time.mktime(dt.datetime.strptime(test_start, "%d/%m/%Y").timetuple())
test_end_ts = time.mktime(dt.datetime.strptime(test_end, "%d/%m/%Y").timetuple())
test_data = ratings_df.drop(['rating'], axis=1)

In [12]:
test_data = test_data.loc[(test_data['timestamp'] >= test_start_ts) & (test_data['timestamp'] <= test_end_ts)]
test_data = test_data.groupby("userId").filter(lambda x: len(x) > 5 and len(x) < 101)

In [13]:
all_train_data.columns = ['SessionId', 'ItemId', 'Time']
train_data.columns = ['SessionId', 'ItemId', 'Time']
dev_data.columns = ['SessionId', 'ItemId', 'Time']
test_data.columns = ['SessionId', 'ItemId', 'Time']

In [15]:
all_train_data.to_csv('../../dataset/ml-20m/preprocessing_data/all_train.csv', sep='\t', index=False)
train_data.to_csv('../../dataset/ml-20m/preprocessing_data/train.csv', sep='\t', index=False)
dev_data.to_csv('../../dataset/ml-20m/preprocessing_data/dev.csv', sep='\t', index=False)
test_data.to_csv('../../dataset/ml-20m/preprocessing_data/test.csv', sep='\t', index=False)